spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/brokerx}
    username: ${DB_USERNAME:brokerx}
    password: ${DB_PASSWORD:brokerx}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.lob.non_contextual_creation: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
