spring:
  profiles:
    default: monolith
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/brokerx}
    username: ${DB_USERNAME:brokerx}
    password: ${DB_PASSWORD:brokerx}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.lob.non_contextual_creation: true
  flyway:
    enabled: true
    locations: classpath:db/migration

  data:
    redis:
      url: ${REDIS_URL:redis://localhost:6379}
      repositories:
        enabled: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: brokerx
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

brokerx:
  security:
    jwt-secret: ${BROKERX_JWT_SECRET:change-me-change-me-change-me-123456}
    jwt-expiration-seconds: ${BROKERX_JWT_EXPIRATION_SECONDS:3600}
